<h1>Post Show Page</h1>

<%= @post.title %>
<%= @post.content %>
<% @post.categories.each do |c| %>
    <%= c.name %>
<% end %>

<% @post.comments.each do |c| %>
    <%= c.user_says_comment %>
<% end %>

<% @post.users_who_commented.each do |u| %>
    <%= link_to u.username, user_path(u) %>
<% end %>


<%= form_for @comment do |f| %>
    <%= f.hidden_field :post_id, value: @post.id %> 

    <%= f.label :content %>
    <%= f.text_field :content %>

    <%= f.label :user_id %>
    <%= f.collection_select :user_id, User.all, :id, :username %>

    <%= f.fields_for :user_attributes, @comment.user do |user_fields| %>
        <%= user_fields.label :username %>
        <%= user_fields.text_field :username %>

    <% end %>

    <%= f.submit %>
<% end %>
